.heading{
    font-size: 23px;
    width:100%;
    margin: 0;
    box-shadow: 5px 5px 5px white;
    background-color: gray;
    color: whitesmoke;
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: grey;
    width: max-content;
    padding: left 5px right 5px;
   
}

.heading_div2
{
    border-color: rgb(245, 48, 81);
    background-color: rgb(245, 48, 81);
    font-size: 18px;
} 

.result_para_tag{
    background-color: rgb(245, 48, 81);
    border-color: rgb(245, 48, 81);
}

canvas{
    border: 5px solid white;
  
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}